@model Plovykla.Models.Trukumai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trukumai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medziagos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medziagos.medziagosId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.trukumoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
