@model Plovykla.Models.Vartotojai

@{
    ViewData["Title"] = "Create";
}

<h3>Darbuotojo pridėjimas</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label login">Prisijungimo vardas</label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label login">Slaptažodis</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label login">Vardas</label>
                <input asp-for="vardas" class="form-control" />
                <span asp-validation-for="vardas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label login">Pavardė</label>
                <input asp-for="pavarde" class="form-control" />
                <span asp-validation-for="pavarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label login">Elektroninis paštas</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label login">Kategorija</label>
                <select asp-for="kategorijosId" class ="form-control" asp-items="ViewBag.kategorijosId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Pridėti" class="btn btn-default" />
            </div>
        </form>
        @ViewBag.success
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
