@model Plovykla.Models.Vartotojai

@{
    ViewData["Title"] = "Informacijos keitimas";
    Layout = "~/Views/Shared/_LayoutDarbuotojas.cshtml";
}

<h3 class="login">Informacijos keitimas</h3>

<h4>Vartotojai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InfoKeitimas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vartotojoId" />
            <div class="form-group">
                <label class="control-label login">Vardas</label>
                <input asp-for="vardas" class="form-control" />
                <span asp-validation-for="vardas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label login">Pavarde</label>
                <input asp-for="pavarde" class="form-control" />
                <span asp-validation-for="pavarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label login">Elektroninis paštas</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Keisti" class="btn btn-default" />
            </div>
        </form>
        @ViewBag.success
    </div>
</div>


