body {
    background-image:url(../images/Waterdrop.jpg);
    background-size:cover;
}

div.containerr {
    position: absolute;
    top: 50%;
}

label.login
{
    color:whitesmoke;
}
h3.login{
    color:whitesmoke;
}

p.login{
    color:whitesmoke;
}

input.login{
    width:30%
}

div.drop{
    background-color:burlywood;
}