@model Plovykla.Models.Paslauga

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-offset-5">
        <h3 class="login">Paslaugos pridejimas</h3>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label login">Kaina</label>
                <input asp-for="paslaugosKaina" class="form-control" />
                <span asp-validation-for="paslaugosKaina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label login">Pavadinimas</label>
                <input asp-for="paslaugosPavadinimas" class="form-control" />
                <span asp-validation-for="paslaugosPavadinimas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label login">Aprasymas</label>
                <input asp-for="paslaugosAprasymas" class="form-control" />
                <span asp-validation-for="paslaugosAprasymas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Prideti" class="btn btn-default" />
            </div>
        </form>
        @ViewBag.success
    </div>
</div>



